<?xml version="1.0" ?>
<launch>
  <include file="$(find world_model)/launch/tf_broadcasters.launch" />
  <include file="$(find path_planning)/launch/path_planning.launch" />

  <node pkg="strategy" type="bhv_chase_ball.py" name="bhv_chase_ball" output="screen"/>
  <node pkg="strategy" type="bhv_search_ball.py" name="bhv_search_ball" output="screen"/>
  <node pkg="strategy" type="bhv_dash.py" name="bhv_dash" output="screen"/>

  <node pkg="strategy" type="role_goal_keeper.py" name="role_goal_keeper" />
  <node pkg="strategy" type="role_offensive.py" name="role_offensive" />
  <node pkg="strategy" type="role_defensive.py" name="role_defensive" />
  <node pkg="strategy" type="role_selector.py" name="role_selector" />

  <node pkg="strategy" type="game_state.py" name="game_state" />
  <node pkg="strategy" type="strategy_main.py" name="strategy_main" />
</launch>
