<launch>
    <node name="robot_tf2_broadcaster" pkg="world_model" type="robot_tf2_broadcaster.py" respawn="false" output="screen" >
      <param name="robot_name" type="string" value="fira_msl1" />
    </node>
    <node name="ball_tf2_broadcaster" pkg="world_model" type="ball_tf2_broadcaster.py" respawn="false" output="screen" />
</launch>
