<launch>
    <node name="robot_tf2_broadcaster" pkg="world_model" type="object_tf2_broadcaster.py" respawn="false" output="screen" >
      <param name="object_name" type="string" value="fira_msl1" />
    </node>
    <node name="yellow_goal_tf2_broadcaster" pkg="world_model" type="object_tf2_broadcaster.py" respawn="false" output="screen" >
      <param name="object_name" type="string" value="YellowGoal" />
    </node>
    <node name="blue_goal_tf2_broadcaster" pkg="world_model" type="object_tf2_broadcaster.py" respawn="false" output="screen" >
      <param name="object_name" type="string" value="BlueGoal" />
    </node>
    <node name="ball_tf2_broadcaster" pkg="world_model" type="ball_tf2_broadcaster.py" respawn="false" output="screen" />
</launch>
